<ul class="ko-timeline__list">
  {{#each model as |series|}}
    <li class="ko-timeline-series">
      <article>
        <div class="ko-timeline-series__team-name">
          {{series.teamOne.name}}
        </div>

        <div class="ko-timeline-series__team-name">
          {{series.teamTwo.name}}
        </div>

        <div class="ko-timeline-series__team-score">
          {{series.teamOneScore}}
        </div>
      </article>
    </li>
  {{/each}}
</ul>
