@mixin ko-glow($color: $ko-action-color) {
  @include ko-gradient-border($color);

  cursor: pointer;
  transition: color 200ms;

  &::before {
    opacity: 0;
  }

  &:hover {
    @include ko-glow--hover;
  }
}

@mixin ko-glow--hover {
  color: #fff;

  &::before {
    opacity: 1;
  }
}
