.ko-tournament-collection-list-item {
  @include span-columns(12);
  margin-bottom: $gutter / 2;

  &__content {
    @include span-columns(12);
  }

  &__header {
    @include span-columns(4);
    @include ko-list-item;

    text-align: center;
  }

  &__score, &__team-logo {
    display: inline-block;
    vertical-align: middle;
  }

  &__score {
    padding: $gutter / 2;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 4px;
  }

  &__teams {
    text-align: center;
  }

  &__stage, &__format {
    text-align: center;
  }

  &__stage {
    text-transform: uppercase;
    padding: $gutter / 2;
  }

  &__format {
    color: $ko-border-color;
    text-transform: uppercase;
    margin-bottom: $gutter / 2;
    font-size: 0.8rem;
  }

  &__match-list {
    @include span-columns(8);
  }
}
