.ko-tournament-match-group-list-item {
  margin-bottom: $av-gutter;

  &__header {
    text-align: center;
    margin-right: $av-gutter;
  }

  &__stage {
    margin-bottom: $av-gutter / 2;
  }

  &__format {
    color: $ko-border-color;
    font-size: .8rem;
  }
}
