.ko-tournament-match-list-item {
  &__content {
    @include ko-list-item;

    margin-top: $gutter / 4;
    display: table;
    width: 100%;
    padding: $gutter $gutter / 4;
  }

  &__number, &__winner, &__info {
    @include span-columns(4, $display: table);

    text-align: center;
    vertical-align: middle;
  }

  &__winner-content {
    @include ko-badge($ko-text-color);
    font-size: 1rem;
  }

  &__number {
    text-transform: uppercase;
    font-size: 1rem;
  }

  &__watched {
    @include ko-badge;
    font-size: 1rem;
  }
}
