.ko-tournament-plain-list-item {
  @include span-columns(12);
  margin-bottom: $gutter / 8;
  &__content {
    @include span-columns(12);
  }

  &__header {
    @include span-columns(4);
    @include ko-list-item;

    padding: $gutter / 3 0;

    &-content {
      display: table;
      width: 100%;
    }
  }

  &__match-list-item {
    @include span-columns(8);
  }

  &__teams,
  &__stage {
    @include span-columns(6, $display: table);

    text-transform: uppercase;
    text-align: center;
  }

  &__team {
    &-name,
    &-separator {
      display: inline-block;
      vertical-align: middle;
      padding: $gutter / 3 0;
    }

    &-separator {
      font-weight: bolder;
    }
  }

  &__stage {
    font-size: 0.9rem;
    color: $ko-border-color;

    &-content {
      padding: $gutter / 3 0;
    }
  }
}
