.ko-tournament-plain-list-item {
  @include span-columns(12);

  &__content {
    @include span-columns(12);
    margin-bottom: $gutter / 2;
  }

  &__header {
    @include span-columns(4);
    @include ko-gradient-box;

    padding: $gutter / 2;
  }

  &__match-list-item {
    @include span-columns(8);
  }

  &__teams,
  &__stage {
    text-align: center;
    text-transform: uppercase;
  }

  &__team {
    &-name,
    &-separator {
      display: inline-block;
      vertical-align: middle;
    }

    &-separator {
      margin: 0 2px;
    }
  }

  &__teams {
    font-size: 1.2rem;

    &-content {
      display: inline-block;
      line-height: 30px;
      width: 50%;
    }
  }

  &__stage {
    color: $ko-border-color;
    font-size: .9rem;
    line-height: 30px;
  }
}
