// scss-lint:disable ImportantRule

.tooltipster {
  &-base {
    border: 1px solid rgba(#000, .8) !important;
    border-radius: 0 !important;
  }

  &-content {
    background: rgba(#000, .8) !important;
    font-family: inherit !important;
    text-transform: uppercase !important;
  }

  &-arrow span {
    border: 0;
    border-color: rgba(#000, .8) !important;
  }
}
