// scss-lint:disable ImportantRule

.a0-zocial {
  &.a0-twitch {
    background-color: #6441a5;

    &::before {
      content: '\f166';
    }
  }
}

.a0-primary {
  background-color: $ko-action-color !important;
}

.a0-icon-container {
  min-height: 0 !important;
}

.a0-top-header {
  min-height: 0 !important;

  .a0-image {
    display: none !important;
  }

  h1 {
    margin-top: 0 !important;
    padding: $gutter / 2 !important;
  }
}

.a0-onestep {
  min-width: 350px !important;
}

.a0-footer .a0-icon-badge {
  display: none !important;
}
