html {
  font-size: 15px;
  font-weight: lighter;
}

body {
  background-color: $ko-background-color;
}

body,
button {
  color: $ko-text-color;
  font-family: 'Exo 2';
}

ul {
  list-style: none;
}

ul,
h1,
figure {
  margin: 0;
  padding: 0;
}

h1,
button,
a {
  text-transform: uppercase;
}

button {
  background: #444;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 10px 30px;

  &::before {
    top: 95%;
  }
}

a {
  &::before {
    top: 100%;
  }

  &, &:visited {
    color: $ko-text-color;
    text-decoration: none;
  }
}

a, button {
  cursor: pointer;
  position: relative;
  transition: color 200ms;

  &::before {
	  background: radial-gradient(center, ellipse, rgba($ko-action-color, .9) 0%, rgba(0, 0, 0, .0) 80%);
	  content: '';
	  height: 10px;
	  left: 0;
	  opacity: 0;
	  pointer-events: none;
	  position: absolute;
	  width: 100%;
    right: 0;
    transition: opacity 200ms;
	}

  &:hover, &.active {
    color: #fff;

    &::before {
      opacity: 1;
    }
  }
}
