html {
  font-size: 15px;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $ko-background-color;
}

body,
button {
  color: $ko-text-color;
  font-family: 'Exo 2';
}

ul {
  list-style: none;
}

ul,
h1,
figure {
  margin: 0;
  padding: 0;
}

h1,
button,
a {
  text-transform: uppercase;
}

button {
  background: #444;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 10px 30px;

  &::before {
    top: 95%;
  }
}

a {
  &, &:visited {
    color: $ko-text-color;
    text-decoration: none;
  }
}

a, button {
  @include ko-glow($ko-active-color);

  cursor: pointer;
  position: relative;
  transition: color 200ms;

  &::before {
    opacity: 0;
  }

  &:hover, &.active {
    color: #fff;

    &::before {
      opacity: 1;
    }
  }
}
