@mixin ko-icon($name) {
  @include fa-icon;
  // scss-lint:disable PlaceholderInExtend
  @extend .fa-#{$name};
  // scss-lint:enable PlaceholderInExtend
}

@mixin ko-badge($color: $ko-action-color) {
  font-size: .7rem;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, .2);
  display: inline-block;
  color: $color;
  padding: 4px;
  text-transform: uppercase;
}

@mixin ko-list-item($inner-color: #444, $outer-color: #222) {
  padding: $gutter / 2;
  background: radial-gradient(circle at top center, $inner-color 1%, $outer-color 100%);
}

@mixin ko-glow($color: $ko-action-color) {
  position: relative;

  &::before {
    background: radial-gradient(center, ellipse, rgba($color, .9) 0%, rgba(0, 0, 0, .0) 80%);
    content: '';
    height: 10px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    transition: opacity 200ms;
    width: 100%;
	}
}

@mixin ko-actionable-glow($color: $ko-action-color) {
  @include ko-glow($color);

  cursor: pointer;
  position: relative;
  transition: color 200ms;
  text-transform: uppercase;

  &::before {
    opacity: 0;
  }

  &:hover {
    @include ko-actionable-glow-hover;
  }
}

@mixin ko-actionable-glow-hover {
  color: #fff;

  &::before {
    opacity: 1;
  }
}
