html {
  font-size: 16px;
  font-weight: 400;
}

body {
  background-color: $ko-background-color;
}

body,
button {
  color: $ko-text-color;
  font-family: 'Exo 2';
}

ul {
  list-style: none;
}

ul,
h1,
h2 {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  outline: none;

  &,
  &:visited {
    color: $ko-text-color;
    text-decoration: none;
  }
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 0;
}

.lf-dialog {
  background: none;
  height: 100%;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

.lm-container {
  cursor: default;
  z-index: 1000;
}
