@import 'bourbon';
@import 'neat-settings';
@import 'neat';
@import 'settings';
@import 'font-awesome';
@import 'mixins';
@import 'pod-styles';

body {
  @include outer-container;

  background-color: $ko-background-color;
  margin: 0;
  padding: 0;  
  font-family: 'museo-sans';
  
  &.dragging {
    cursor: grabbing;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
