.ko-button {
  @include ko-glow($ko-active-color);

  background: rgba(0, 0, 0, .6);
  display: inline-block;
  padding: 10px 30px;

  &::before {
    top: 95%;
  }

  &--disabled {
    opacity: .5;
    pointer-events: none;
  }
}
