<div class="ko-spoiler__overlay" onclick={{action "reveal"}}>
  <div class="ko-spoiler__title">
    <div class="ko-spoiler__background"></div>
    <div class="ko-spoiler__title-content">{{title}}</div>
  </div>
</div>

<div class="ko-spoiler__content">
  {{yield}}
</div>
