.ko-tournament-list__list {
  @include span-columns(12);

  padding: 0 10px;
  margin-top: 10px;
}

.ko-tournament-list-item {
  @include span-columns(4);

  height: 300px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    > div {
      background-color: lighten($ko-background-color, 3%);
    }

    .ko-tournament-list-item__content > a {
      color: $ko-action-color;
    }
  }

  > div {
    @include span-columns(12);
    transition: 150ms background-color ease-in-out;
    background-color: darken($ko-background-color, 3%);
    height: 100%;
    border-radius: 3px;
  }
}

.ko-tournament-list-item__content {
  @include span-columns(6);
  font-size: 20px;

  > a {
    margin: 15px;
    text-decoration: none;
    display: block;
    height: 100%;
  }
 }

.ko-tournament-list-item__game {
  @include span-columns(6);
  text-align: right;
  height: 100%;

  > figure {
    height: 150px;
    overflow: hidden;
    display: inline-block;
    margin: 15px;
    border-radius: 3px;

    > img {
      height: 100%;
    }
  }
}
