.ko-tournament-list__list {
  @include span-columns(12);
  
  padding: 0 10px;
  margin-top: 10px;
}

.ko-tournament-list-item {
  @include span-columns(4);

  height: 300px;
  padding: 10px;

  > div {
    height: 100%;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
  }
  
  &:hover {
    .ko-tournament-list-item__content {
      @include ko-box($inset: true, $color: $ko-action-color);
      background-color: rgba(darken($ko-background-color, 8%), 0);
    }
  }
}

.ko-tournament-list-item__content {
    @include ko-box($inset: true, $color: $ko-border-color);
    
    transition: all 150ms ease-in-out;
    z-index: 1;
    background-color: rgba(darken($ko-background-color, 8%), 0.8);
    position: relative;
    height: 100%;
  
    > a {
      padding: 10px;
      text-decoration: none;
      color: #fff;
      display: block;
      height: 100%;
    }
 }

.ko-tournament-list-item__game {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  > img {
    width: 100%;
  }
}