.ko-tournament-list__list {
  @include outer-container;
}

.ko-tournament-list__tournament {
  @include span-columns(4);

  > a {
    display: inline-block;
    text-decoration: none;
    color: $ko-main-color;
  }
}
