<h1 class="ko-tournament-list__title">All Tournaments</h1>

<ul class="ko-tournament-list__list">
  {{#each tournaments as |tournament|}}
    <li class="ko-tournament-list__item">
      {{#link-to "tournament" tournament.id class="ko-tournament-list__item-link"}}
        <div class="ko-tournament-list__item-content">
          <div class="ko-tournament-list__item-name">{{tournament.name}}</div>

          <div class="ko-tournament-list__item-game">
            {{tournament.gameName}}
          </div>
        </div>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
