{{#portal-content for="header"}}
  <h1>Tournaments</h1>
{{/portal-content}}

<ul class="ko-tournament-list__list">
  {{#each tournaments as |tournament|}}
    <li class="ko-tournament-list-item" onclick={{action onShow tournament}}>
      <div>
        <div class="ko-tournament-list-item__content">
          <a>{{tournament.name}}</a>
        </div>

        <div class="ko-tournament-list-item__game">
          <figure>
            <img src="{{concat "images/" tournament.game ".png"}}" />
          </figure>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
