<header class="ko-tournament-list__header">
  <h1 class="ko-tournament-list__title">Browse Tournaments</h1>

  <nav class="ko-tournament-list__nav">
    <ul>
      <li class="ko-tournament-list__nav-item">
        {{#link-to "tournaments" (query-params game=null) class="ko-tournament-list__nav-link"}}All Games{{/link-to}}
      </li>

      <li class="ko-tournament-list__nav-item">
        {{#link-to "tournaments" (query-params game="dota-2") class="ko-tournament-list__nav-link"}}Dota 2{{/link-to}}
      </li>

      <li class="ko-tournament-list__nav-item">
        {{#link-to "tournaments" (query-params game="league-of-legends") class="ko-tournament-list__nav-link"}}League of Legends{{/link-to}}
      </li>
    </ul>
  </nav>
</header>

<ul class="ko-tournament-list__content">
  {{#each arrangedTournaments as |tournament|}}
    {{ko-tournament-list/item tournament=tournament}}
  {{/each}}
</ul>
