& {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

.ko-application__content {
	flex: 1;
  position: relative;
  
  > div {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.ko-application__header {
	@include ko-box;
  
	padding: 15px;
	background-color: $ko-action-color;
}