<header class="ko-index__header">
  <h1 class="ko-index__title">{{ko-logo}}</h1>
  <h2 class="ko-index__tagline">Jump back into action. Follow tournaments your own way.</h2>
  {{#link-to "tournaments" class="ko-button"}}Browse Tournaments{{/link-to}}
</header>
