<header class="ko-index__header">
  <h1 class="ko-index__title">{{ko-logo}}</h1>
  <h2 class="ko-index__tagline">Enjoy tournaments your own way.</h2>
  {{#link-to "tournaments" class="ko-button"}}Jump back into action{{/link-to}}
</header>

<section class="ko-index__features">
  <h1 class="ko-index__features-title ko-title">Features</h1>

  <ul class="ko-index__feature-list">
    <li class="ko-index__feature-item">
      <div class="ko-index__feature-image">
        <img class="ko-index__feature-image-content" src="images/spoilers-feature.png" />
      </div>

      <div class="ko-index__feature-title ko-title">Spoiler-free</div>
      <div class="ko-index__feature-description">Enjoy tournaments at your own pace with a peaceful mind. Never again get your excitement spoiled.</div>
    </li>

    <li class="ko-index__feature-item">
      <div class="ko-index__feature-image">
        <img class="ko-index__feature-image-content" src="images/following-feature.png" />
      </div>

      <div class="ko-index__feature-title ko-title">Remembers what you watched</div>
      <div class="ko-index__feature-description">Enjoy tournaments at your own pace with a peaceful mind. Never again get your excitement spoiled.</div>
    </li>

    <li class="ko-index__feature-item">
      <div class="ko-index__feature-image">
        <img class="ko-index__feature-image-content" src="images/embedded-vods-feature.png" />
      </div>

      <div class="ko-index__feature-title ko-title">One click away from the action</div>
      <div class="ko-index__feature-description">Enjoy tournaments at your own pace with a peaceful mind. Never again get your excitement spoiled.</div>
    </li>
  </ul>
</section>

<section class="ko-index__features">
  <h1 class="ko-index__features-title ko-title">Upcoming</h1>

  <ul class="ko-index__feature-list">
    <li class="ko-index__feature-item">
      <div class="ko-index__feature-image">
        <img class="ko-index__feature-image-content" src="images/spoilers-feature.png" />
      </div>

      <div class="ko-index__feature-title ko-title">Spoiler-free</div>
      <div class="ko-index__feature-description">Enjoy tournaments at your own pace with a peaceful mind. Never again get your excitement spoiled.</div>
    </li>

    <li class="ko-index__feature-item">
      <div class="ko-index__feature-image">
        <img class="ko-index__feature-image-content" src="images/following-feature.png" />
      </div>

      <div class="ko-index__feature-title ko-title">Remembers what you watched</div>
      <div class="ko-index__feature-description">Enjoy tournaments at your own pace with a peaceful mind. Never again get your excitement spoiled.</div>
    </li>

    <li class="ko-index__feature-item">
      <div class="ko-index__feature-image">
        <img class="ko-index__feature-image-content" src="images/embedded-vods-feature.png" />
      </div>

      <div class="ko-index__feature-title ko-title">One click away from the action</div>
      <div class="ko-index__feature-description">Enjoy tournaments at your own pace with a peaceful mind. Never again get your excitement spoiled.</div>
    </li>
  </ul>
</section>
