<header class="ko-index__header">
  <h1 class="ko-index__title">{{ko-logo}}</h1>
  <h2 class="ko-index__tagline">Enjoy tournaments your own way.</h2>
  {{#link-to "tournaments" class="ko-button"}}Browse Tournaments{{/link-to}}
</header>

<section class="ko-index__features">
  <h1 class="ko-index__features-title ko-title">Features</h1>

  <ul class="ko-index__feature-list">
    <li class="ko-index__feature-item">
      <div class="ko-index__feature-image">
        <img class="ko-index__feature-image-content" src="images/spoilers-feature.png" />
      </div>

      <div class="ko-index__feature-title ko-title">Spoiler-free</div>
      <div class="ko-index__feature-description">Enjoy tournaments at your own pace with a peaceful mind. Never again get your hype spoiled.</div>
    </li>

    <li class="ko-index__feature-item">
      <div class="ko-index__feature-image">
        <img class="ko-index__feature-image-content" src="images/following-feature.png" />
      </div>

      <div class="ko-index__feature-title ko-title">Remembers what you have watched</div>
      <div class="ko-index__feature-description">Get a complete digest of what happened since the last time you were around.</div>
    </li>

    <li class="ko-index__feature-item">
      <div class="ko-index__feature-image">
        <img class="ko-index__feature-image-content" src="images/embedded-vods-feature.png" />
      </div>

      <div class="ko-index__feature-title ko-title">One click away from the action</div>
      <div class="ko-index__feature-description">Just click on a match to start watching the VOD without leaving the tournament page.</div>
    </li>
  </ul>
</section>

<section class="ko-index__features">
  <h1 class="ko-index__features-title ko-title">Coming Soon</h1>

  <ul class="ko-index__feature-list ko-index__feature-list--upcoming">
    <li class="ko-index__feature-item">
      <div class="ko-index__feature-title ko-title">Interviews and Extra Content</div>

      <div class="ko-index__feature-description">
        Don't miss on any content just because you're not there when it happened.
        Discover fun content inbetween games while browsing a tournament timeline.
      </div>
    </li>

    <li class="ko-index__feature-item">
      <div class="ko-index__feature-title ko-title">VOD Reactions</div>
      <div class="ko-index__feature-description">Be a part of the conversation after the show is over.<br />Share what you felt while watching your favorite moments of a match.</div>
    </li>

    <li class="ko-index__feature-item">
      <div class="ko-index__feature-title ko-title">Recommended Matches</div>
      <div class="ko-index__feature-description">Sometimes you don't have enough time to watch it all.<br />Read a personalized list of what is hot based on the tournaments you're following and your preferences.</div>
    </li>
  </ul>
</section>

<footer class="ko-index__footer">
  <div>
    <a href="http://calderalabs.io" class="ko-index__made-by-link">
      <img src="images/calderalabs-logo.png" />
    </a>
  </div>

  <div>
    <small>Copyright © 2016 Caldera Labs Ltd.</small>
  </div>
</footer>
