<header class="ko-matches-player__header">
  {{#unless isFirstVodActive}}
    <a class="ko-matches-player__previous" onclick={{action "previous"}}></a>
  {{/unless}}

  <h1 class="ko-matches-player__title">{{activeVod.label}}</h1>

  {{#unless isLastVodActive}}
    <a class="ko-matches-player__next" onclick={{action "next"}}></a>
  {{/unless}}
</header>

{{component activeVodComponent vod=activeVod class="ko-matches-player__vod"}}
