.ko-tournaments__list {
  @include outer-container;

  list-style: none;
  padding: 0;
}

.ko-tournaments__tournament {
  @include span-columns(4);

  > a {
    display: inline-block;
    text-decoration: none;
    color: $ko-action-color;
  }
}
