.ko-tournament {
  &__section-title {
    @include ko-gradient-border($ko-border-color);

    margin: $av-gutter 0;
    padding-bottom: $av-gutter / 2;
    font-size: 1.2rem;

    &::before {
      height: 4px;
    }
  }

  &__mark-all-as-watched {
    text-align: right;
  }
}
