$ko-application-header-height: 5em;

.ko-application {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;

  &__content,
  &__header {
    @include outer-container;
  }

  &__header {
    background: rgba(0, 0, 0, .7);
    height: $ko-application-header-height;
    left: 0;
    line-height: $ko-application-header-height;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    &-content {
      @include span-columns(12);
      padding: 0 $gutter;
    }
  }

  &__title {
    @include span-columns(2);
    text-transform: uppercase;

    &-link {
      &-primary {
        color: $ko-action-color;
      }
    }
  }

  &__nav {
    @include span-columns(6);

    &-item {
      display: inline-block;
      margin-right: $gutter;
    }

    &-link {
      vertical-align: middle;
    }
  }

  &__session {
    @include span-columns(4);
    text-align: right;
  }

  &__current-user-name {
    display: inline-block;
    margin-right: $gutter / 2;
    text-transform: uppercase;
  }

  &__content {
    padding: $ko-application-header-height + $gutter $gutter $gutter;
  }

  &__player {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
  }
}
