.ko-button {
  @include ko-glow($ko-active-color);

  background: rgba(0, 0, 0, .6);
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;

  &::before {
    top: 95%;
  }

  &:hover &__icon {
    color: #fff;
  }

  &--disabled, &[disabled] {
    opacity: .5;
    pointer-events: none;
  }

  &--toggle {
    padding: $av-gutter / 4 $av-gutter / 2;
  }

  &--active {
    background-color: $ko-active-color;
  }

  &--running {
    background-color: $ko-border-color;
  }

  &__icon {
    margin-right: $av-gutter / 2;
  }
}
