$ko-main-header-height: 5em;

.ko-main {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &__content,
  &__header {
    @include outer-container;
  }

  &__header {
    background: rgba(0, 0, 0, .7);
    height: $ko-main-header-height;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    &-content {
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 100%;
      padding: 0 $gutter;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-right: $gutter;

    &-link {
      &-primary {
        color: $ko-action-color;
      }
    }
  }

  &__nav {
    flex-grow: 1;

    &-item {
      display: inline-block;
      margin-right: $gutter;
    }

    &-link {
      vertical-align: middle;
    }
  }

  &__session {
    text-align: right;
  }

  &__current-user-name {
    display: inline-block;
    margin-right: $gutter / 2;
    text-transform: uppercase;
  }

  &__content {
    height: 100%;
    padding: $ko-main-header-height + $gutter $gutter $gutter;
  }

  &__following-badge.ko-badge {
    color: $ko-action-color;
    line-height: 10px;
    margin: 5px;
    padding: 3px 5px;
  }
}
