.ko-tournament {
  &__sort {
    display: inline-block;
  }

  &__day {
    @include span-columns(12);

    &-match-group-list-item {
      @include span-columns(12);
    }

    &-title {
      @include ko-glow($ko-border-color);
      
      margin-bottom: $gutter / 2;
      padding-bottom: $gutter / 2;
      text-align: center;

      &::before {
        height: 4px;
      }
    }
  }
}
