.ko-index {
  height: 100%;

  &__header {
    @include ko-gradient-box;

    $padding: $gutter * 8;
    padding: $padding + $ko-application-header-height $padding $padding;
    text-align: center;
    margin-bottom: $gutter / 2;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: $gutter / 2;
  }

  &__tagline {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: $gutter;
  }

  &__features {
    @include span-columns(12);
    padding: $gutter;

    &-title {
      @include ko-gradient-border($ko-border-color);

      font-size: 1.3rem;
      margin-bottom: $gutter;
      padding-bottom: $gutter / 2;

      &::before {
        height: 3px;
      }
    }
  }

  &__feature {
    &-list {
      @include span-columns(12);
    }

    &-item {
      @include span-columns(4);
      @include omega(3n);
      @include ko-gradient-box($ko-panel-background-color);

      padding: $gutter;
      margin-bottom: $gutter;
    }

    &-image {
      overflow: hidden;
      margin-bottom: $gutter;

      &-content {
        max-width: 100%;
      }
    }
  }
}
