.ko-tournament {
  &__day {
    @include span-columns(12);
  }

  &-match-group-list {
    @include span-columns(12);
  }

  &__match-list {
    @include span-columns(12);

    &-content {
      @include span-columns(12);
    }
  }

  &__section-title {
    @include ko-gradient-border($ko-border-color);

    margin: $gutter 0;
    padding-bottom: $gutter / 2;

    &::before {
      height: 4px;
    }
  }
}
