.ko-spoiler {
  position: relative;

  &--revealed > &__overlay {
    opacity: 0;
    pointer-events: none;
    filter: blur(20px);
  }

  &:hover > &__overlay {
    color: #fff;
  }

  &__content {
    position: relative;
    z-index: 0;
  }

  &__overlay {
    display: block;
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: filter 800ms, opacity 800ms;
    font-size: 1rem;
    font-weight: lighter;
    z-index: 1;
    filter: none;
    transform: rotateZ(0);
  }

  &__background {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    content: ' ';
    background-color: #222;
    z-index: -1;
    box-shadow: inset 0px 0px 30px -4px darken($ko-background-color, 2%);
  }

  &__title {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    &-content {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
