.ko-index {
  height: 100%;

  &__header {
    @include ko-gradient-box;

    $padding: $gutter * 7;
    margin-bottom: $gutter / 2;
    padding: $padding + $ko-application-header-height $padding $padding;
    position: relative;
    text-align: center;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: $gutter / 2;
  }

  &__tagline {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: $gutter;
  }

  &__browse-tournaments {
    background-color: $ko-active-color;
  }

  &__scroll-indicator {
    bottom: $gutter / 2;
    display: block;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 20px;

    &:hover &-icon {
      color: #fff;
    }

    &-icon {
      @include ko-icon('angle-down');

      color: $ko-border-color;
      font-size: 3rem;
      display: inline-block;
      transition: color 200ms;
    }
  }

  &__features {
    @include span-columns(12);
    padding: $gutter * 4 $gutter * 4 0;

    &-title {
      @include ko-gradient-border($ko-border-color);

      font-size: 1.5rem;
      margin-bottom: $gutter;
      padding-bottom: $gutter;
      text-align: center;

      &::before {
        height: 3px;
      }
    }
  }

  &__feature {
    &-list {
      @include span-columns(12);

      &--upcoming {
        margin-bottom: $gutter * 4;

        .ko-index__feature {
          &-item {
            background: transparent;
          }

          &-title {
            color: $ko-border-color;
          }
        }
      }
    }

    &-title {
      color: $ko-action-color;
      font-size: 1.3rem;
      font-weight: bolder;
      margin-bottom: $gutter / 2;
    }

    &-description {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.7rem;
    }

    &-item {
      @include span-columns(4);
      @include omega(3n);
      @include ko-gradient-box($inner-color: #111);

      margin-bottom: $gutter;
      padding: $gutter;
    }

    &-image {
      margin-bottom: $gutter;
      overflow: hidden;

      &-content {
        max-width: 100%;
      }
    }
  }

  &__footer {
    @include span-columns(12);
    @include ko-gradient-box(#111, #000);

    color: #444;
    padding: $gutter * 4;
    text-align: center;
  }

  &__made-by {
    display: inline-block;
    filter: grayscale(100%);
    transition: filter 300ms;

    &:hover {
      filter: grayscale(0);
    }
  }

  &__copyright {
    display: block;
  }
}
