.ko-application {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &__header {
    background-color: rgba(0, 0, 0, .7);
    height: $ko-application-header-height;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
  }

  &__header-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0 $av-gutter;
  }

  &__nav {
    flex-grow: 1;
  }

  &__session {
    text-align: right;
  }

  &__current-user-name {
    display: inline-block;
    margin-right: $av-gutter / 2;
  }

  &__content {
    height: 100%;
  }
}
