.ko-header {
  @include span-columns(12);
  height: 2rem;
  margin-bottom: $gutter;

  &__nav {
    @include span-columns(4);
    text-align: right;

    &-list {
      display: inline-block;
      overflow: auto;
    }
  }
}
