.ko-tournament-list {
  &__header {
    @include span-columns(12);
    padding: $gutter 0;
  }

  &__title {
    @include span-columns(3);
  }

  &__nav {
    @include span-columns(9);

    text-align: right;

    &-item {
      display: inline-block;
    }

    &-link {
      @include ko-badge($ko-text-color);

      &.active {
        color: $ko-action-color;
      }

      &::before {
        display: none;
      }
    }
  }

  &__list {
    @include span-columns(12);
  }
}
