.ko-player {
  background: $ko-background-color;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__close {
    @include span-columns(2);

    text-align: right;
    text-transform: uppercase;
  }

  &__header {
    @include ko-gradient-box;
    padding: $gutter;
  }

  &__title {
    @include span-columns(8);
    @include shift(2);

    text-align: center;
  }

  &__vod {
    flex-grow: 1;
  }
}
