.ko-index {
  height: 100%;

  &__header {
    @include ko-gradient-box;

    margin-bottom: $av-gutter / 2;
    padding: $av-gutter * 7;
    position: relative;
    text-align: center;
  }

  &__title {
    margin-bottom: $av-gutter / 2;
  }

  &__tagline {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: $av-gutter;
  }

  &__scroll-indicator {
    bottom: $av-gutter / 2;
    display: block;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;

    &-link {
      display: inline-block;
    }
  }

  &__features {
    padding: $av-gutter * 4;

    &--upcoming {
      padding-top: 0;
    }
  }

  &__feature-description {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.7rem;
  }

  &__feature-item {
    margin-bottom: $av-gutter;
    padding: $av-gutter;
  }

  &__feature-image {
    margin-bottom: $av-gutter;
    overflow: hidden;
  }

  &__feature-image-content {
    max-width: 100%;
  }

  &__footer {
    @include ko-gradient-box(#111, #000);

    color: #444;
    padding: $av-gutter * 4;
    text-align: center;
  }

  &__made-by {
    display: inline-block;
    filter: grayscale(100%);
    transition: filter 300ms;

    &:hover {
      filter: grayscale(0);
    }
  }
}
