.ember-basic-dropdown {
  &--opened {
    .ember-power-select-trigger {
      &, &:focus {
        margin: 0;
      }
    }
  }
}

.ember-power-select {
  &-trigger {
    @include ko-badge;

    padding-right: 18px;
    border-radius: 0;
    min-height: 0;
    line-height: inherit;
    outline: none;
    cursor: pointer;
    text-align: left;

    &, &:focus {
      border: 0;
    }
  }

  &-status-icon {
    border-color: $ko-text-color transparent transparent transparent;
    border-width: 4px 4px 0 4px;
  }

  &-dropdown {
    &, &.ember-basic-dropdown--below {
      border: 0;
      border-radius: 0;
      line-height: inherit;
      font-size: 0.7rem;
      text-transform: uppercase;
      border-color: $ko-border-color;
      background-color: transparent;
    }
  }

  &-option {
    color: $ko-text-color;
    padding: 6px 4px;
    background-color: rgba(0, 0, 0, 0.8);

    &:hover {
      color: #fff;
    }
  }
}
