.ember-basic-dropdown {
  &--opened .ember-power-select-trigger {
    &,
    &:focus {
      margin: 0;
    }
  }
}

.ember-power-select {
  &-trigger {
    @include ko-badge;

    border-radius: 0;
    cursor: pointer;
    line-height: inherit;
    min-height: 0;
    outline: none;
    padding-right: 18px;
    text-align: left;

    &,
    &:focus {
      border: 0;
    }
  }

  &-status-icon {
    border-color: $ko-text-color transparent transparent;
    border-width: 4px 4px 0;
  }

  &-dropdown {
    &,
    &.ember-basic-dropdown--below {
      background-color: transparent;
      border: 0;
      border-color: $ko-border-color;
      border-radius: 0;
      font-size: .7rem;
      line-height: inherit;
      text-transform: uppercase;
    }
  }

  &-option {
    background-color: rgba(0, 0, 0, .8);
    color: $ko-text-color;
    padding: 6px 4px;

    &:hover {
      color: #fff;
    }
  }
}
