.tooltipster {
  &-base {
    border: 1px solid rgba(#000, 0.8) !important;
    border-radius: 0 !important;
  }

  &-content {
    font-family: inherit !important;
    text-transform: uppercase !important;
    background: rgba(#000, 0.8) !important;
  }

  &-arrow span {
    border-top-color: rgba(#000, 0.8) !important;
    border-bottom-color: rgba(#000, 0.8) !important;
  }
}
