<article class="ko-tournament-plain-list-item__content">
  <header class="ko-tournament-plain-list-item__header">
    <div class="ko-tournament-plain-list-item__teams">
      {{#ko-spoiler title="Show Teams" class="ko-tournament-plain-list-item__teams-content"}}
        {{#tool-tipster title=teamOneFullName class="ko-tournament-plain-list-item__team-name"}}
          {{teamOneShortName}}
        {{/tool-tipster}}

        <div class="ko-tournament-plain-list-item__team-separator">vs</div>

        {{#tool-tipster title=teamTwoFullName class="ko-tournament-plain-list-item__team-name"}}
          {{teamTwoShortName}}
        {{/tool-tipster}}
      {{/ko-spoiler}}
    </div>

    <div class="ko-tournament-plain-list-item__stage">{{stage}}</div>
  </header>

  {{ko-tournament/match-list-item
    match=match
    class="ko-tournament-plain-list-item__match-list-item"}}
</article>
