& {
  cursor: pointer;
  display: inline-block;

  &.selected {
    animation-duration: .5s;
    animation-name: pulse;
    background-color: $ko-action-color;
    border-radius: 3px;
    color: $ko-background-color;
    padding: 5px;
  }
}
