& {
  cursor: pointer;
  display: inline-block;
}

&.selected {
  animation-name: pulse;
  background-color: $ko-main-color;
  color: $ko-background-color;
  padding: 5px;
  border-radius: 3px;
  animation-duration: .5s;
}
