.ko-filters__aside {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: $filters-width;
  background-color: $ko-background-color;
  padding: 20px;
  color: $white;
}

.ko-filters__watch {
  display: block;
  padding: 10px;
  background-color: $ko-action-color;
  border-radius: 3px;
  width: 100px;
  margin: 20px auto;
  text-align: center;
  color: $ko-background-color;
  font-weight: 800;
}

.ko-filters__teams, .ko-filters__players {
  margin-top: 20px;
}

.ko-filters_team, .ko-filters__player {
  margin-bottom: 15px;
  cursor: pointer;
}
