.ko-filters__aside {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: $filters-width;
  background-color: $ko-background-color;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.ko-filters__watch {
  display: inline-block;
  padding: 10px;
  background-color: $ko-action-color;
  border-radius: 3px;
  margin-top: 40px;
  line-height: initial;
}
