{{#portal-content for="header"}}
  <h1>{{tournament.name}}</h1>
{{/portal-content}}

{{#ko-timeline matchGroups=matchGroups class="ko-tournament__timeline"}}
  {{ko-time-range-select class="ko-tournament__time-range-select"}}
{{/ko-timeline}}

<div class="ko-tournament-actions">
  {{#link-to "tournament.watch" class="ko-tournament-actions__watch"}}
    Watch
  {{/link-to}}

  {{ko-filter-list tournament=tournament}}
</div>

{{#portal-content for="overlay"}}
  {{liquid-outlet use="crossFade" containerless=true}}
{{/portal-content}}
