{{#ko-header title=name}}
  <li class="ko-tournament__sort">
    {{#power-select
      class="ko-tournament__sort-select"
      searchEnabled=false
      options=sortingOptions
      selected=sortingOption
      onchange=(action "selectSortingOption") as |option|}}
      Sort by: {{option.label}}
    {{/power-select}}
  </li>

  {{#ko-header/nav-item}}
    {{#link-to "tournament" id (query-params filter=null)}}All Matches{{/link-to}}
  {{/ko-header/nav-item}}

  {{#ko-header/nav-item}}
    {{#link-to "tournament" id (query-params filter="new")}}New{{/link-to}}
  {{/ko-header/nav-item}}

  {{#ko-header/nav-item}}
    {{#link-to "tournament" id (query-params filter="unwatched")}}To Watch{{/link-to}}
  {{/ko-header/nav-item}}

  {{#ko-header/nav-item}}
    {{#link-to "tournament" id (query-params filter="saved")}}Saved{{/link-to}}
  {{/ko-header/nav-item}}
{{/ko-header}}

{{#each timeline as |day|}}
  <section class="ko-tournament__day">
    <h1 class="ko-tournament__day-title">{{day.title}}</h1>

    <ul class="ko-tournament__day-match-group-list">
      {{#each day.groupedMatches as |groupedMatches|}}
        <li class="ko-tournament__day-match-group-list-item">
          {{ko-tournament/match-group matchGroup=groupedMatches.matchGroup}}

          <ul class="ko-tournament__day-match-group-match-list">
            {{#each groupedMatches.matches as |match|}}
              {{ko-tournament/match-list-item match=match}}
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </section>
{{/each}}
