& {
  background-color: lighten($ko-background-color, 5%);
  padding: 25px;
  user-select: none;
}

.ko-time-range-select__line {
  position: relative;
  border-bottom: 3px inset lighten($ko-background-color, 10%);
}
