<div class="ko-time-range-select__line">
  {{ko-time-range-select/point select=this model=selectionStart onChange=(action "changeStart")}}
  {{ko-time-range-select/point select=this model=selectionEnd onChange=(action "changeEnd")}}
</div>