.ko-tournament-list-item {
  @include span-columns(3);
  @include omega(4n);

  height: 200px;
  margin-bottom: $gutter;
  position: relative;

  &--followed &__follow-icon {
    &,
    &:hover {
      color: $ko-active-color;
    }
  }

  &:hover {
    .ko-tournament-list-item__follow {
      opacity: 1;
    }
  }

  &__link {
    display: block;
    height: 100%;
  }

  &__info {
    bottom: $gutter / 2;
    left: $gutter / 2;
    position: absolute;
    right: $gutter / 2;
  }

  &__name {
    font-size: 1.2em;
    font-weight: lighter;
  }

  &__content {
    @include ko-gradient-box;

    cursor: pointer;
    height: 100%;
  }

  &__stage {
    color: $ko-border-color;
    font-size: .8rem;
    margin-top: 5px;
  }

  &__follow {
    bottom: $gutter / 2;
    opacity: 0;
    padding: 4px;
    position: absolute;
    right: $gutter / 2;
    transition: opacity 200ms;

    &--running &-icon {
      &,
      &:hover {
        color: $ko-border-color;
      }
    }

    &-icon {
      @include ko-icon('heart');
      transition: color 200ms;

      &:hover {
        color: #fff;
      }
    }
  }
}
