.ko-tournament-list-item {
  @include span-columns(3);
  @include omega(4n);

  height: 200px;
  margin-bottom: $gutter;

  &:hover {
    .ko-tournament-list-item__follow {
      opacity: 1;
    }
  }

  &__link {
    display: block;
    height: 100%;
  }

  &__content {
    @include ko-gradient-box;
    height: 100%;
  }

  &__header {
    @include span-columns(12);
  }

  &__name {
    @include span-columns(10);

    font-size: 1.2em;
    font-weight: lighter;
  }

  &__new-badge {
    @include span-columns(2);

    padding: 0;
    text-align: right;
  }

  &__footer {
    bottom: $gutter / 2;
    left: $gutter / 2;
    position: absolute;
    right: $gutter / 2;

    &-content {
      @include span-columns(12);
    }
  }

  &__info {
    @include span-columns(10);
  }

  &__follow {
    @include span-columns(2);

    opacity: 0;
    text-align: right;
    transition: opacity 200ms;

    &.ko-toggle--active &-icon {
      &,
      &:hover {
        color: $ko-active-color;
      }
    }

    &.ko-toggle--running &-icon {
      &,
      &:hover {
        color: $ko-border-color;
      }
    }

    &-icon {
      @include ko-icon('heart');
      transition: color 200ms;

      &:hover {
        color: #fff;
      }
    }
  }
}
