.ko-tournament-list-item {
  margin: 0 $av-gutter $av-gutter 0;

  &:hover &__follow {
    opacity: 1;
  }

  &__content {
    height: 200px;
  }

  &__new-badge {
    text-align: right;
  }

  &__footer {
    bottom: $av-gutter / 2;
    left: $av-gutter / 2;
    position: absolute;
    right: $av-gutter / 2;
  }

  &__follow {
    opacity: 0;
    text-align: right;
    transition: opacity 200ms;
  }
}
