{{#link-to "tournaments" class="ko-tournament-match-list-item__content"}}
  <div class="ko-tournament-match-list-item__number">
    Game {{number}}
  </div>

  <div class="ko-tournament-match-list-item__winner">
    <div class="ko-tournament-match-list-item__winner-content">{{winnerName}} Wins</div>
  </div>

  <div class="ko-tournament-match-list-item__info">
    <div class="ko-tournament-match-list-item__watched">
      To Watch
    </div>
  </div>
{{/link-to}}
