{{#link-to "tournament" id (query-params viewType=linkViewType) class="ko-tournament-list-item__link ko-link"}}
  <article class="ko-tournament-list-item__content">
    <header class="ko-tournament-list-item__header">
      <h1 class="ko-tournament-list-item__name ko-title">{{name}}</h1>

      {{#if shouldShowNewBadge}}
        <div class="ko-tournament-list-item__new-badge">
          {{#if hasNewMatches}}
            {{#ko-badge isPrimary=true}}{{newMatchesCount}} New{{/ko-badge}}
          {{/if}}
        </div>
      {{/if}}
    </header>

    <footer class="ko-tournament-list-item__footer">
      <div class="ko-tournament-list-item__footer-content">
        <div class="ko-tournament-list-item__info">
          {{#ko-badge isPrimary=true}}{{gameName}}{{/ko-badge}}
          {{#ko-badge}}{{matchesCount}} matches{{/ko-badge}}
        </div>

        {{#if hasCurrentUser}}
          {{#ko-toggle
            class="ko-tournament-list-item__follow"
            isActive=isFollowed
            onToggle=(action "toggleFollow")}}
            <i class="ko-tournament-list-item__follow-icon"></i>
          {{/ko-toggle}}
        {{/if}}
      </div>
    </footer>
  </article>
{{/link-to}}
