{{#link-to "tournament" id class="ko-tournament-list-item__link"}}
  <article class="ko-tournament-list-item__content">
    <h1 class="ko-tournament-list-item__name">{{name}}</h1>

    <div class="ko-tournament-list-item__stage">
      {{stage}}
    </div>

    <div class="ko-tournament-list-item__info">
      {{#ko-badge isPrimary=true}}{{gameName}}{{/ko-badge}}
      {{#ko-badge}}{{unwatchedMatchesCount}} to watch{{/ko-badge}}
    </div>

    <button class="ko-tournament-list-item__follow">
      <i class="ko-tournament-list-item__follow-icon"></i>
    </button>
  </article>
{{/link-to}}
