{{#link-to "tournament" id class="ko-tournament-list-item__link ko-link"}}
  <article class="ko-tournament-list-item__content">
    <h1 class="ko-tournament-list-item__name ko-title">{{name}}</h1>

    <div class="ko-tournament-list-item__stage">
      {{stage}}
    </div>

    <div class="ko-tournament-list-item__info">
      {{#ko-badge isPrimary=true}}{{gameName}}{{/ko-badge}}
      {{#ko-badge}}{{matchesCount}} matches{{/ko-badge}}
    </div>

    {{#if hasCurrentUser}}
      {{#ko-toggle-button
        class="ko-tournament-list-item__follow"
        isActive=isFollowed
        onToggle=(action "toggleFollow")}}
        <i class="ko-tournament-list-item__follow-icon"></i>
      {{/ko-toggle-button}}
    {{/if}}
  </article>
{{/link-to}}
