{{#link-to "tournament" id class="ko-tournament-list-item__link"}}
  <article class="ko-tournament-list-item__content">
    <h1 class="ko-tournament-list-item__name">{{name}}</h1>

    <div class="ko-tournament-list-item__stage">
      {{stage}}
    </div>

    <ul class="ko-tournament-list-item__info">
      <li class="ko-tournament-list-item__info-item ko-tournament-list-item__info-item--game">
        {{gameName}}
      </li>

      <li class="ko-tournament-list-item__info-item ko-tournament-list-item__info-item--vods">
        {{unwatchedVods.length}} to watch
      </li>
    </ul>

    <button class="ko-tournament-list-item__follow">
      <i class="ko-tournament-list-item__follow-icon"></i>
    </button>
  </article>
{{/link-to}}
